<div class="home-page">
  <mat-sidenav-container class="bg-white">
    <mat-sidenav-content>

      <mat-toolbar class="topbar front-topbar topbar-xl m-auto bg-extra-light p-y-8"
        [ngClass]="{ 'fixed-topbar': isTopbarFixed }">
        <div class="container full-width p-xs-6 p-x-15">
          <div class="d-flex align-items-center justify-content-between w-100">
            <div class="branding p-0">
              <app-branding></app-branding>
            </div>

            <div class="navigation-tab d-none d-lg-flex align-items-center toolBarContent">

              <button mat-button class="m-x-4 f-s-15 f-w-600 nav-item" [routerLink]="['/front-pages/homepage']"
                [class.selected]="isActiveRoute('homepage')">
                Home
              </button>

              <!-- Services dropdown -->
              <div class="nav-dropdown-wrapper"
                (mouseenter)="servicesOpen = true"
                (mouseleave)="servicesOpen = false">
                <button mat-button class="m-x-4 f-s-15 f-w-600 nav-item"
                  [routerLink]="['/front-pages/services']"
                  [class.selected]="isActiveRoute('services')">
                  Services
                  <i-tabler name="chevron-down" class="icon-16 m-l-4"></i-tabler>
                </button>
                @if (servicesOpen) {
                <div class="services-mega-menu">
                  <div class="mega-menu-grid">
                    @for (cat of serviceCategories; track cat.id) {
                    <a class="mega-menu-item" [routerLink]="['/front-pages/services', cat.id]"
                      (click)="servicesOpen = false">
                      <i-tabler [name]="cat.icon" class="icon-20 mega-item-icon"></i-tabler>
                      <div>
                        <div class="f-s-14 f-w-600">{{ cat.title }}</div>
                        <div class="f-s-12 text-muted m-t-4">{{ cat.description }}</div>
                      </div>
                    </a>
                    }
                  </div>
                </div>
                }
              </div>

              <button mat-button class="m-x-4 f-s-15 f-w-600 nav-item" [routerLink]="['/front-pages/industries']"
                [class.selected]="isActiveRoute('industries')">
                Industries
              </button>

              <button mat-button class="m-x-4 f-s-15 f-w-600 nav-item" [routerLink]="['/front-pages/portfolio']"
                [class.selected]="isActiveRoute('portfolio')">
                Portfolio
              </button>

              <button mat-button class="m-x-4 f-s-15 f-w-600 nav-item" [routerLink]="['/front-pages/technology']"
                [class.selected]="isActiveRoute('technology')">
                Technology
              </button>

              <button mat-button class="m-x-4 f-s-15 f-w-600 nav-item" [routerLink]="['/front-pages/about']"
                [class.selected]="isActiveRoute('about')">
                About Us
              </button>

              <button mat-button class="m-x-4 f-s-15 f-w-600 nav-item" [class.selected]="isActiveRoute('contact')"
                [routerLink]="['/front-pages/contact']">
                Contact
              </button>

            </div>
            <div class="d-none d-lg-flex">
              <a mat-flat-button color="primary" [routerLink]="['/front-pages/contact']"
                class="get-quote-btn">
                Get a Quote
              </a>
            </div>

            <button mat-icon-button (click)="filterNavRight.toggle()" class="d-flex d-lg-none">
              <i-tabler name="menu-2" class="icon-24 d-flex"></i-tabler>
            </button>
          </div>
        </div>
      </mat-toolbar>



      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
    <mat-sidenav #filterNavRight mode="over" position="end" class="filter-sidebar mobile-sidebar">
      <div>
        <div class="d-flex align-items-center justify-content-between p-x-20 p-y-15">
          <div class="branding p-0">
            <app-branding></app-branding>
          </div>
          <button mat-mini-fab aria-label="Close menu" (click)="filterNavRight.toggle()">
            <mat-icon>close</mat-icon>
          </button>
        </div>

        <mat-list role="list">
          <mat-list-item role="listitem">
            <button mat-button class="text-dark" [routerLink]="['/front-pages/homepage']"
              [class.selected]="isActiveRoute('homepage')" (click)="filterNavRight.close()">
              Home
            </button>
          </mat-list-item>

          <!-- Mobile Services with expandable sub-items -->
          <mat-list-item role="listitem">
            <button mat-button class="text-dark w-100 d-flex justify-content-between"
              (click)="mobileServicesOpen = !mobileServicesOpen">
              Services
              <i-tabler [name]="mobileServicesOpen ? 'chevron-up' : 'chevron-down'" class="icon-16"></i-tabler>
            </button>
          </mat-list-item>
          @if (mobileServicesOpen) {
            <mat-list-item role="listitem">
              <a mat-button class="text-dark p-l-24" [routerLink]="['/front-pages/services']"
                (click)="filterNavRight.close()">
                All Services
              </a>
            </mat-list-item>
            @for (cat of serviceCategories; track cat.id) {
            <mat-list-item role="listitem">
              <a mat-button class="text-dark p-l-24 f-s-13" [routerLink]="['/front-pages/services', cat.id]"
                (click)="filterNavRight.close()">
                {{ cat.title }}
              </a>
            </mat-list-item>
            }
          }

          <mat-list-item role="listitem">
            <button mat-button class="text-dark" [routerLink]="['/front-pages/industries']"
              [class.selected]="isActiveRoute('industries')" (click)="filterNavRight.close()">
              Industries
            </button>
          </mat-list-item>
          <mat-list-item role="listitem">
            <button mat-button class="text-dark" [routerLink]="['/front-pages/portfolio']"
              [class.selected]="isActiveRoute('portfolio')" (click)="filterNavRight.close()">
              Portfolio
            </button>
          </mat-list-item>
          <mat-list-item role="listitem">
            <button mat-button class="text-dark" [routerLink]="['/front-pages/technology']"
              [class.selected]="isActiveRoute('technology')" (click)="filterNavRight.close()">
              Technology
            </button>
          </mat-list-item>
          <mat-list-item role="listitem">
            <button mat-button class="text-dark" [routerLink]="['/front-pages/about']"
              [class.selected]="isActiveRoute('about')" (click)="filterNavRight.close()">
              About Us
            </button>
          </mat-list-item>
          <mat-list-item role="listitem">
            <button mat-button class="text-dark" [routerLink]="['/front-pages/contact']"
              [class.selected]="isActiveRoute('contact')" (click)="filterNavRight.close()">
              Contact
            </button>
          </mat-list-item>
          <mat-list-item role="listitem" class="w-100">
            <a mat-flat-button color="primary" class="w-100" [routerLink]="['/front-pages/contact']"
              (click)="filterNavRight.close()">
              Get a Quote
            </a>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
  @if(showBackToTop){
  <div class="back-to-top bg-primary rounded-circle d-flex align-items-center justify-content-center shadow icon-54 cursor-pointer"
    (click)="scrollToTop()">
    <i-tabler name="arrow-up" class="icon-24 text-white"></i-tabler>
  </div>
  }
</div>